* {
	box-sizing: border-box;
}
#main {
	width: 1050px;
	margin: 0 auto;

}

#main a {
	text-decoration: none;
}

body {
	width: 100%;
	background: #f8f4f4;
	font-size: .8em;
	font-family: "Open Sans", Arial, sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.header {
	background: #000000;

}

.nav {
	list-style: none;
	width: 80%;
}
.nav li a {
	cursor: pointer;
	position: relative;
	top: 10px;
	color: #8e8686;
	padding: 23px 13px;

	transition: all;
	transition-duration: .5s;
}

.nav li a:hover {
	background: #e1dede;
}

.startup-job {
	width: 115px;
	height: 50px;
	float: left; 
}

.recruit {
	width: 83px;
	height: 50px;
	float: left;
}	

.invest {
	width: 73px;
	height: 50px;
	float: left;
}	
.more {
	position: relative;
	width: 95px;
	height: 50px;
	float: left;
}

.header li ul {
	position: absolute;
	z-index: 20;
	padding-bottom: 10px;
	top: 100%;
	left: -50%;
	display: none;
}

.menu {
	padding: 0;
	margin: 0;
	width: 200px;
	background: #ffffff;
	border-radius: 5px;
	list-style: none;
}

.menu li {
	list-style: none;
}

.menu a {
	/*height: 25px;*/
	min-width: 200px;
	float: left;
	line-height: 1px;
}

.menu a:first-child {
	margin-top: -10px;
}
.menu a:hover {
	background: #6a6969;
}

.header li:hover ul{
	display: block;
}

.background {
	background: #000000;
	height: 300px;
	position: relative;
	top: 48px;
	margin-right: -426px;
	margin-left: -430px;
}

.logo {
	background: url(https://assets.angel.co/assets/static_pages/logo/AngelList_White_Lockup-5a55c9c4f4cac441f745ea327edb689d4c5829575bcc4e1cf8b1db62e36bf630.png);
	width: 320px;
	height: 100px;
	background-size: 90%;
	position: relative;
	top: -185px;
	background-color: #000000;
	background-repeat: no-repeat;
}

.logotipe {
	background: url(1.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 50px;
	background-size: 70%;
	
	position: relative;
	left: 5px;
	float: left;
}

.texts {
	position: relative;
	top: -225px;
	color: #ffffff;
	float: left;
}

.text1 {
	font-size: 1.4em;
	letter-spacing: 5px;
	color: #a8a7a7;
}

.text2 {
	font-size: 3em;
	margin: 0;
	padding: 0;
	float: left;
}

.text3 {
	float: left;
	font-size: 40px;
	font-weight: 10px;
	margin: 0;
	padding-left: 10px;
	color: #858484;
}

.text4 {
	font-size: 1.3em;
	padding-top: 60px;
}

.text4:hover {
	cursor: pointer;
}

.right {
	position: relative;
	top: -300px;
	left: 180px;
	color: #ffffff;
	float: left;
	font-size: 18px;
	letter-spacing: 1px;
	width: 300px;
	height: 160px;
	background-color: #292929;
	margin: 0 auto;
}

.table p {
	padding: 15px;
	margin: 0 auto;
	border: 1px solid #6c6b6b;

	transition: all;
	transition-duration: .5s;
}

.table p:hover {
	background-color: #474646;
	cursor: pointer;
}
.footer {
	position: relative;
	top: -150px;
	left: 250px;
	text-align: center;
	width: 600px;
}

.top2 {
	font-size: 60px;
	font-weight: lighter;
	letter-spacing: -2px;
	word-spacing: -1px;
}

.bottom2 {
	position: relative;
	top: -20px;
	font-size: 20px;
	color: #b8b7b7;
}

.bottom3 {
	position: relative;
	top: -30px;
	font-size: 20px;
	color: #b8b7b7;
}

.buttons {
	position: relative;
	top: 10px;
}

.button1 {
	width: 130px;
	height: 45px;
	background: #5a8ed6;
	border-radius: 5px;
	font-size: 1.3em;
	color: #ffffff;
	margin-right: 5px;
}

.button1:hover {
	background: #5f95e0;
	cursor: pointer;
}

.button2 {
	width: 130px;
	height: 45px;
	background: #cecfcf;
	border-radius: 5px;
	font-size: 1.3em;
	color: #ffffff;
	margin-left: 5px;
}

.button2:hover {
	background: #d9d9d9;
	cursor: pointer;
}

.ico {
	position: relative;
	left: -135px;
	top: 30px;
	width: 900px;
}

.ico img {
	margin-top: 40px;
	margin-right: 40px;
	border: 4px solid #dbdbdc;
	border-radius: 5px;
}

.ico img:hover {
	cursor: pointer;
}

@media only screen and (max-width: 950px) {
	body {
		overflow-x: hidden;
		width: 125%;
	}

	#main {
		width: 550px;
		margin: 0 auto;
	}
    
    .background {
		height: 500px;
	}
    
    .logo {
		position: relative;
		left: 50px;
		margin-top: -245px;
	}
    
    .texts {
		position: relative;
		top: 50%;
	}
    
    .text1 {
		font-size: 1em;
		margin-top: -210px;
		margin-left: 130px;
	}
    
    .text2 {
		font-size: 2em;
		margin-top: -160px;
		margin-left: 115px;
	}
    
    .text3 {
		font-size: 30px;
		margin-top: -120px;
		margin-left: 40px;
	}
    
    .text4 {
		font-size: 1.5em;
		margin-top: 60px;
		margin-left: 150px;
	}
    
    .right {
		margin-left: -164px;
		margin-top: 300px;
		width: 380px;
	}
    
    .table {
		text-align: center;
	}
    
    .footer {
		position: relative;
		width: 550px;
		text-align: center;
		top: 220px;
		left: -180px;
	}
    .top2 {
		font-size: 30px;
	}
    .bottom2 {
		font-size: 13px;
	}
    .bottom3 {
		font-size: 13px;
	}
    .button1 {
		position: relative;
		top: -330px;
		left: 215px;
		width: 350px;
		float: left;
	}
    .button2 {
		position: relative;
		top: -320px;
		left: 210px;
		width: 350px;
		float: left;
	}
    .ico {
		position: relative;
		top: -280px;
		left: 120px;
		width: 400px;
		display: inline-block;
	}
    .ico img {
		margin: 50px;
		float: left;
	}
}